<template>
  <v-dialog
    v-model="isOpen"
    max-width="460"
  >
    <v-card>
      <v-card-title class="headline">Управление узлом KE4386oT9</v-card-title>

      <v-list-item two-line>
        <v-list-item-content>
          <v-list-item-title>Изменить напор</v-list-item-title>
          <v-slider
            v-model="nodeValue"
            min="0"
            max="100"
            label="Напор (%)"
          ></v-slider>
        </v-list-item-content>
      </v-list-item>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn
          color="red darken-1"
          :color="!device.state.upr ? 'blue' : 'red'"
          text
          @click="disable"
        >
          {{!device.state.upr ? 'Включить' : 'Отключить'}}
        </v-btn>

        <v-btn
          color="green darken-1"
          text
          @click="$emit('close')"
        >
          Применить
        </v-btn>

        <v-btn
          color="green darken-1"
          text
          @click="$emit('close')"
        >
          Закрыть
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "NodeController",

  props: {
    device: {
      type: Object,
      required: true
    },
    map: {
      type: Object,
      required: true
    },
    marker: {
      type: Object,
      required: true
    },
    isOpen: {
      type: Boolean,
      required: true
    }
  },

  data() {
    return {
      nodeValue: this.device.state.obiem,
    };
  },

  methods: {
    disable() {
      const mmm = this.map.getObjects().find(m => m.data && m.data.type === 'line' && m.data.end._id === this.device._id);
      if(mmm && !mmm.data.start.state.upr &&
        !mmm.data.start.name.startsWith('NiberVodohr')) return;

      this.$axios.$get('https://python-back.admire.social/upr/' + this.device._id + '/' + (this.device.state.upr ? 0 : 1));

      let svgMarkup;
      this.marker.getData().state.upr = !this.marker.getData().state.upr;
      if (this.device.state.upr) {
        svgMarkup = '<svg width="20" height="20" viewBox="0 0 20 20" version="1.1" fill="blue"' +
          '  xmlns="http://www.w3.org/2000/svg">' +
          '  <circle cx="10" cy="10" r="10"/>' +
          '</svg>';
      } else {
        svgMarkup = '<svg width="20" height="20" viewBox="0 0 20 20" version="1.1" fill="red"' +
          '  xmlns="http://www.w3.org/2000/svg">' +
          '  <circle cx="10" cy="10" r="10"/>' +
          '</svg>';
      }
      // this.device.state.upr = !this.device.state.upr;



      const icon = new H.map.Icon(svgMarkup);
      this.marker.setIcon(icon);

      const requrs = (device) => {
        const lines = this.map.getObjects().filter(m => m.data && m.data.type === 'line' && m.data.start._id === device._id);

        lines.forEach(line => {
          console.log(line);
          line.setStyle({
            strokeColor: device.state.upr ? 'blue' : 'gray',
            lineWidth: 2
          });

          const home = this.map.getObjects().find(m => m.getData() && !m.getData().type && m.getData()._id === line.data.end._id);

          if (home) {
            const svgMarkup1 = '<svg width="20" x="0" y="10" height="20" viewBox="0 0 20 20" version="1.1" fill="' + (device.state.upr ? 'blue' : 'gray') + '"' +
              '  xmlns="http://www.w3.org/2000/svg">' +
              '  <circle cx="10" cy="10" r="10"/>' +
              '</svg>';

            const icon1 = new H.map.Icon(svgMarkup1);
            home.setIcon(icon1);

            home.getData().state.upr = device.state.upr;
            requrs(home.getData());
          }
        });
      };

      requrs(this.device);


      this.$emit('close');
    }
  }
}
</script>

<style scoped>

</style>
