<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-btn
        icon
        @click.stop="miniVariant = !miniVariant"
      >
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>
<!--      <v-btn-->
<!--        icon-->
<!--        @click.stop="clipped = !clipped"-->
<!--      >-->
<!--        <v-icon>mdi-application</v-icon>-->
<!--      </v-btn>-->
<!--      <v-btn-->
<!--        icon-->
<!--        @click.stop="fixed = !fixed"-->
<!--      >-->
<!--        <v-icon>mdi-minus</v-icon>-->
<!--      </v-btn>-->
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-btn
        icon
        @click.stop="rightDrawer = !rightDrawer"
      >
        <v-icon>mdi-menu</v-icon>
      </v-btn>
    </v-app-bar>
    <v-content>
      <nuxt />
    </v-content>
    <v-navigation-drawer
      v-model="rightDrawer"
      :right="right"
      temporary
      fixed
    >
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light>
              mdi-repeat
            </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>

      <v-text-field label="Регион поиска" v-model="model"></v-text-field>

      <v-list>
        <v-list-item v-for="address in states" @click="navigate(address)" :key="address.locationId">
          <v-list-item-title v-html="address.label"></v-list-item-title>
        </v-list-item>
      </v-list>

    </v-navigation-drawer>
  </v-app>
</template>

<script>
import { mapActions, mapMutations } from 'vuex';

export default {
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Список точек',
          to: '/point'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Регистрация',
          to: '/registration'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Вход',
          to: '/login'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Редактирование зон',
          to: '/areas'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'ICS',

      model: '',
      states: [],
      timer: 0,
    };
  },

  watch: {
    model() {
      clearTimeout(this.timer);
      this.timer = setTimeout(() => {
        this.getAutocomplete(this.model).then(data => {
          this.states = data.suggestions;
        });
      }, 500);
    },
  },

  methods: {
    navigate(address) {
      this.rightDrawer = false;
      this.getGeocoder(address.locationId).then(data => {
        this.setLocation(data.Response.View[0].Result[0].Location.DisplayPosition);
        this.$router.push('/dashboard');
      });
    },
    ...mapMutations([
      'setLocation'
    ]),
    ...mapActions([
      'getAutocomplete',
      'getGeocoder',
    ])
  },

  created() {
    if(process.client) {
      if (localStorage.token) {
        this.$axios.setHeader('Authorization', localStorage.token);
      }

      if (localStorage.lastLocation) {
        const lastLocation = JSON.parse(localStorage.lastLocation);
        this.$store.dispatch('errorsSubscribe', {lat: lastLocation.Latitude, lng: lastLocation.Longitude});
      }
    }
  }
}
</script>
