<template>
  <v-container>
    <v-list>
      <v-list-item v-for="user in users" three-line :key="user.email">
        <v-list-item-content>
          <v-list-item-title>{{user.name}} - {{user.email}}</v-list-item-title>
          <v-list-item-subtitle>Число зон ответственности: {{user.areas.length}}</v-list-item-subtitle>
          <v-list-item-action>
            <v-btn @click="addArea(user)">Добавить зону</v-btn>
          </v-list-item-action>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-container>
</template>

<script>
  import { mapActions, mapGetters, mapMutations, mapState } from 'vuex';

  export default {
        name: "areas",

      middleware: 'isAuthorized',

    data() {
          return {
            users: [],
          };
    },
      created() {
          this.getUsers().then(data => {
            this.users = data
          });
      },
      methods: {
        addArea(user) {
          localStorage.setItem('user_to_add_area', JSON.stringify(user));
          this.$router.push('/dashboard');
        },
          ...mapActions([
            'getUsers',
          ])
      }
    }
</script>

<style scoped>

</style>
