<template>
  <v-container>
    <v-text-field v-model="email" placeholder="Email"></v-text-field>
    <v-text-field v-model="password" placeholder="Пароль"></v-text-field>
    <v-btn @click="signIn">Войти</v-btn>
  </v-container>
</template>

<script>
  import { mapActions, mapGetters, mapMutations, mapState } from 'vuex';

    export default {
        name: "login",

      data() {
          return {
            email: '',
            password: '',
          };
      },

      methods: {

        signIn() {
          this.login({
            email: this.email,
            password: this.password,
          });
        },
        ...mapActions([
          'login'
        ])
      }
    }
</script>

<style scoped>

</style>
