<template>
  <v-layout>
    <v-container fluid
                 style="padding: 0"
    >
      <v-row>
        <v-col cols="3"
               class="placeholder"
               style="background: url('assets/helmet.png') no-repeat center / cover"
        >
          <div class="ball">
            <img src="assets/sanya.jpg" alt="" class="point__avatar">
          </div>
        </v-col>

        <v-card
          outlined
          class="col-9"
        >
          <v-row>
            <v-card-title>Биденко Александр Алексеевич</v-card-title>

            <v-form>
              <v-container>
                <v-col
                  cols="12"
                >
                  <v-text-field
                    label="Поиск"
                    required
                  ></v-text-field>
                </v-col>
              </v-container>
            </v-form>
          </v-row>

          <v-card
            style="background: #55A88A; border-radius: 5px; color: #FFF;width: 12%; padding: 0 5px 0 5px;"
            class="point__position text-center mb-5"
          >
            главный инжинер
          </v-card>

          <v-card class="mt-3" style="position: relative" v-for="objec in objects">
              <v-col cols="12" class="text-center">
                <v-row>
                  <v-col cols="4"
                    style="background: url('/assets/trumpet.png') no-repeat center / cover;
                    "
                  >
                    <h1 class="card__title">Набережная 17</h1>
                    <p class="card__map_pointer">
                      {{objec.lat}} - {{objec.long}}
                    </p>
                    <div class="point__switcher">

                    </div>
                  </v-col>

                  <v-col cols="4">
                    <p class="card__feature"><b>объём: </b>{{objec.state.obiem}} M^3 / h</p>
<!--                    <p class="card__feature"><b>давление: </b>145 кг/м^3</p>-->
                    <p class="card__feature"><b>температура: </b>{{objec.state.temperature}} град.цельс</p>
                  </v-col>

                  <v-col cols="4" class="text-center" v-if="objec.owner">
                    <h1 class="card__description_title">Ответственные за данную точку:</h1>
                    <p>{{objec.owner.name}}</p>
                    <p>{{objec.owner.email}}</p>
                  </v-col>
                </v-row>
              </v-col>
          </v-card>

<!--          <v-card class="mt-3">-->
<!--            <v-col cols="12" class="text-center">-->
<!--              <v-row>-->
<!--                <v-col cols="4"-->
<!--                       style="background: url('/assets/trumpet.png') no-repeat center / cover;-->
<!--                    height: auto"-->
<!--                >-->
<!--                  <h1 class="card__title">Набережная 17</h1>-->
<!--                  <p class="card__map_pointer">-->
<!--                    37.44.453455-->
<!--                  </p>-->
<!--                </v-col>-->

<!--                <v-col cols="4">-->
<!--                  <p class="card__feature"><b>объём: </b>30м^3</p>-->
<!--                  <p class="card__feature"><b>давление: </b>145 кг/м^3</p>-->
<!--                  <p class="card__feature"><b>температура: </b>30 град.цельс</p>-->
<!--                </v-col>-->

<!--                <v-col cols="4" class="text-center">-->
<!--                  <h1 class="card__description_title">Ответственные за данную точку:</h1>-->
<!--                  <p>Флэшев Ебрагим Олегович</p>-->
<!--                  <p>Танжев Константин Борисович</p>-->
<!--                </v-col>-->
<!--              </v-row>-->
<!--            </v-col>-->
<!--          </v-card>-->

<!--          <v-card class="mt-3">-->
<!--            <v-col cols="12" class="text-center">-->
<!--              <v-row>-->
<!--                <v-col cols="4"-->
<!--                       style="background: url('/assets/trumpet.png') no-repeat center / cover;-->
<!--                    height: auto"-->
<!--                >-->
<!--                  <h1 class="card__title">Набережная 17</h1>-->
<!--                  <p class="card__map_pointer">-->
<!--                    37.44.453455-->
<!--                  </p>-->
<!--                </v-col>-->

<!--                <v-col cols="4">-->
<!--                  <p class="card__feature"><b>объём: </b>30м^3</p>-->
<!--                  <p class="card__feature"><b>давление: </b>145 кг/м^3</p>-->
<!--                  <p class="card__feature"><b>температура: </b>30 град.цельс</p>-->
<!--                </v-col>-->

<!--                <v-col cols="4" class="text-center">-->
<!--                  <h1 class="card__description_title">Ответственные за данную точку:</h1>-->
<!--                  <p>Флэшев Ебрагим Олегович</p>-->
<!--                  <p>Танжев Константин Борисович</p>-->
<!--                </v-col>-->
<!--              </v-row>-->
<!--            </v-col>-->
<!--          </v-card>-->

        </v-card>
      </v-row>

    </v-container>
  </v-layout>
</template>

<script>
  import {mapActions} from 'vuex';

  export default {
    name: 'point',
    data() {
      return {
        objects: [],
      };
    },

    created() {
      this.getObjjectsReq();
    },

    methods: {
      getObjjectsReq() {
        this.getDevices().then((data) => {
          this.objects = data;
          this.objects.forEach(el => {
            this.getOwner({latitude: el.lat, longitude: el.long}).then(data => {
              el.owner = data;
            });
          });
        });
      },
      ...mapActions([
        'getDevices',
        'getOwner',
      ])
    },
  }
</script>

<style scoped>
  @media (max-width: 600px) {
    .point__position {

    }
  }

  .placeholder {
    background: #4E515A;
    min-height: 100vh;
  }

  .ball {
    background: #D2D2D2;
    display: inline-block;
    border-radius: 50%;
    height: 159px;
    width: 159px;
    margin-top: 5%;
    margin-left: 20%;
  }

  .card__title {
    font-size: 18px;
  }

  .card__map_pointer {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #969696;
  }

  .card__description_title {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #20A675;
  }

  .card__feature {
    background: #9E9E9E;
    color: #000;
  }

  .point__avatar {
    border-radius: 50%;
  }

  .point__switcher {
    background: url("/assets/switchOnMap.png") no-repeat center / cover;
    position: absolute;
    height: 10px;
  }
</style>
