<template>
  <v-container>
    <v-text-field v-model="name" placeholder="Имя"></v-text-field>
    <v-text-field v-model="email" placeholder="Email"></v-text-field>
    <v-text-field v-model="password" placeholder="Пароль"></v-text-field>
    <v-btn @click="registration" :disabled="!name || !email || !password">Регистрация</v-btn>
  </v-container>
</template>

<script>
  import { mapActions, mapGetters, mapMutations, mapState } from 'vuex';

    export default {
        name: "registration",

      data() {
          return {
            name: '',
            email: '',
            password: ''
          };
      },

      methods: {
          registration() {
            this.register({
              name: this.name,
              email: this.email,
              password: this.password,
            });
          },
        ...mapActions([
          'register'
        ])
      }
    }
</script>

<style scoped>

</style>
