<div>
  <v-switch v-model="isNodesOrAreas" style="position: fixed; top: 0; right: 64px; z-index: 5;"
            :label="isNodesOrAreas ? 'Карта узлов' : 'Карта зон'" v-if="!userToAddArea">
  </v-switch>

  <v-btn v-if="userToAddArea" @click="cancelAddArea"
         style="position: fixed; top: 0; right: 64px; z-index: 5; margin-top: 12px;">Отменить добавление зоны</v-btn>
  <v-btn v-if="userToAddArea && areaPoints.length === 2" @click="addAreaClick"
         style="position: fixed; top: 0; right: 340px; z-index: 5; margin-top: 12px;">Добавить зону</v-btn>

  <div id="dashboardMap" style="width: 100%; height: 80vh;"></div>

  <v-dialog
    v-model="dialog"
    max-width="460"
    v-if="openedDevice.state"
  >
    <v-card>
      <v-card-title class="headline">Информация об узле {{openedDevice._id}}</v-card-title>
      <v-card-text>Техническое наименование {{openedDevice.name}}</v-card-text>

      <v-list-item two-line>
        <v-list-item-content>
          <v-list-item-title>Прошедший объем воды (M^3)</v-list-item-title>
          <v-list-item-subtitle>{{openedDevice.state.obiem}}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-list-item two-line>
        <v-list-item-content>
          <v-list-item-title>Температура (С)</v-list-item-title>
          <v-list-item-subtitle>{{openedDevice.state.temperature}}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

<!--      <v-list-item two-line>-->
<!--        <v-list-item-content>-->
<!--          <v-list-item-title>Ошибки</v-list-item-title>-->
<!--          <v-list-item-subtitle>{{sectorErrors}}</v-list-item-subtitle>-->
<!--        </v-list-item-content>-->
<!--      </v-list-item>-->

      <v-divider></v-divider>

      <v-list-item two-line v-if="nodeOwner">
        <v-list-item-content>
          <v-list-item-title>Ответственный за узел</v-list-item-title>
          <v-list-item-subtitle>{{nodeOwner.name}} - {{nodeOwner.email}}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn
          color="green darken-1"
          text
          @click="isOpenController = true"
          v-if="openedDevice.name !== 'NiberVodohr_01'"
        >
          Управление
        </v-btn>

        <v-btn
          color="green darken-1"
          text
          @click="dialog = false"
        >
          ОК
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <NodeController
    v-if="openedDevice.state" :is-open="isOpenController" @close="isOpenController = false" :device="openedDevice" :marker="openedMarker" :map="nodesGroup"/>
</div>
